@model Listing

<div class="col">
    <a href="/Listing/Details/@Model.ListingId" class="card-link">
        <div class="card h-100">
            <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <h6>@Model.Price.ToString("0.00 Nok")</h6>
                </div>
            </div>
        </div>
    </a>
</div>
