@model Listing

<div class="col">
        <div>
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
        <div>
        <div class="d-flex justify-content-between mt-2">
        <h5 class="text-start">
            <a asp-controller="Listing" 
               asp-action="Details"
               asp-route-id="@Model.ListingId">@Model.Title</a>
        </h5>
        <h5 class="text-nowrap">
        @Model.Price.ToString("0.00 Nok")
        </h5>
        </div>
        </div>
        </div>
        </div>

