@model IEnumerable<Listing>

<div class="container">
    <table class='table table-striped' style='max-width: 1200px;'>
        <tr>
            <th>ListingId</th>
            <th>Title</th>
            <th>Address</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        @foreach (var listing in Model)
        {
            <tr>
                <td>@listing.ListingId</td>
                <td>@listing.Title</td>
                <td>@listing.Address</td>
                <td>@listing.Price</td>
                <td>@listing.Description</td>
                <td></td>
            </tr>
        }
    </table>
</div>