@model IEnumerable<User> 

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Reservations</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td> 
                <td>@user.Name</td>
                <td>@user.Address</td>
                <td>
                    @if (@user.Reservations != null)
                    {
                        <p>@string.Join(", ", @user.Reservations.Select(reservation => $"Reservation{reservation.ReservationId}"))</p>
                    }
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>