@using HomeToGo.Controllers
@model IEnumerable<Reservation>

<h1>List of Orders</h1>

@foreach (var reservation in Model)
{
    decimal totalPrice = 0;

    if (reservation.Listing != null)
    {
        totalPrice = ReservationController.CalculateTotalPrice(reservation.Listing, reservation);
    }
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <div class="container">
            <h5>Order @reservation.ReservationId </h5>
            <div>
                <table class='table table-striped' style='max-width: 1200px;'>
                    <tr class="table-header">
                        <th>Order Date</th>
                        <th>User ID</th>
                        <th>Check In Date</th>
                        <th>Check Out Date</th>
                        <th>Totalprice</th>

                    </tr>
                    <tr>
                        <td>@reservation.ReservationDate</td>
                        <td>@reservation.UserId</td>
                        <td>@reservation.CheckInDate</td>
                        <td>@reservation.CheckOutDate</td>
                        <td>
                            @totalPrice
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

<p>
    <a class="btn btn-secondary"
       asp-controller="Reservation"
       asp-action="CreateReservation">Create New reservation</a>
</p>
