@model IEnumerable<HomeToGo.Models.Listing>



<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <a href="/Listing/Grid">Grid View</a>
    <table class='table table-striped'>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Address</th>
        <th>Price</th>
        <th>Description</th>
        <th></th>
    </tr>
    
    @foreach (var listing in Model)
    {
        <tr>
            <td>@listing.ListingId</td>
            <td>@listing.Title</td>
            <td>@listing.Address</td>
            <td>@listing.Price.ToString(("0.00 Nok"))</td>
            <td>@listing.Description</td>
            <td></td>
        </tr>
    }
</table>
</div>
